@import '../../../globals.scss';
@import '../../styles/mixins';

.header {
  box-shadow: 0 -5px 25px 5px $c-black-60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 60px;
  padding: 10px 30px;
  background-color: $c-whitesmoke;

  @include responsive(mobile) {
    padding: 10px 15px;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;

  @include responsive(mobile) {
    font-size: 16px;
  }

  &-img {
    transform: scale(1.8);
    width: 60px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &-link {
    flex: 0 1 260px;
  }
}

.nav {
  flex: 1 1 auto;

  &-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;

    @include responsive(mobile) {
      font-size: 16px;
    }
  }
}

.active {
  font-weight: bold;
  color: $c-blue;
}
