$c-whitesmoke: #f8f8f8;
$c-black-20: rgba(0, 0, 0, 0.2);
$c-black-60: rgba(0, 0, 0, 0.6);
$c-black-80: rgba(0, 0, 0, 0.8);
$c-darkgray:rgb(136, 136, 136);
$c-pink: rgb(255, 154, 151);
$c-pink-20: rgba(255, 154, 151, 0.125);
$c-pink-light: rgb(255, 189, 191);
$c-blue: rgb(105, 161, 232);
$c-dark-blue: rgba(167, 173, 215, 0.15);
$c-red-tomato: rgb(254, 78, 78);

$main-gradient: linear-gradient(135deg, $c-pink-light 50%, $c-blue 100%);
$form-gradient: linear-gradient(225deg, $c-red-tomato 0%, $c-pink 100%);
$shadow-black-20: 0 0 5px 0px $c-black-20;
$color-primary-light: $c-whitesmoke;
$color-bg-main: $c-whitesmoke;
$color-text-primary: $c-black-80;
