@import '../../../shared/styles/colors';
@import '../../../shared/styles/fonts';

.form-wrapper {
  background-color: transparent;
}

.exchange {
  height: 100%;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: $form-gradient;
  border-radius: 15px;
  overflow: hidden;

  &-top {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
  }

  &-bottom {
    display: flex;
    background-color: $c-whitesmoke;
  }

  &-from {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    margin-bottom: 50px;
  }

  &-to {
    position: relative;
    display: flex;
    align-items: center;
    padding: 80px 30px;
    width: 100%;
  }

  &-date {
    font-size: 12px;
    color: $c-whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
  }

  &-title {
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: $c-whitesmoke;
    & span {
      font-size: 14px;
    }
  }
}

.input {
  max-width: 200px;
  background-color: transparent;
  padding: 5px 15px;
  height: 60px;
  border: none;
  border-bottom: 1px solid $c-whitesmoke;
  font-family: $font-family-primary;
  font-size: 40px;
  font-weight: 600;
  color: $c-whitesmoke;
  outline: none;

  &::placeholder {
    font-size: 18px;
    letter-spacing: 1px;
    color: inherit;
    font-family: inherit;
    font-weight: 400;
    line-height: 18px;
  }

  &:focus {
    border-bottom-width: 2px;
  }

  /* Disable arrow buttons in type=number */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.number-from {}

.number-to {
  border-color: $c-pink;
  color: $c-pink;

  &::placeholder {
    color: inherit;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 75px;
}

.select {
  width: 100%;
  background-color: $c-pink-20;
  border: none;
  border-radius: 5px;
  padding: 15px 0;
  height: 60px;
  border: none;
  color: $c-whitesmoke;
  cursor: pointer;
  overflow-y: auto;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  font-size: 16px;
  letter-spacing: 2px;
 

  &>option {
    color: black;
    text-align: center;
    font-family: $font-family-primary;
    font-size: 14px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}

.select-from {}

.select-to {
  color: $c-pink;

  &>option {
    color: black;
  }
}

.swap {
  display: flex;
  position: absolute;
  top: 0%;
  right: 10%;
  transform: translateY(-50%);
  width: 40px;
  height: 30px;
  background-color: $c-whitesmoke;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid $c-pink-light;
  color: $c-pink;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 2px $c-pink-light;
  }
}
