@import '../../../globals.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  margin-top: 15px;
  padding: 15px 25px;
  background-color: $color-primary-light;
  border-radius: 5px;
  font-size: $font-size-primary;

  & .author {
    display: flex;
    align-items: center;

    &-link {
      margin-left: 5px;
      font-weight: 600;
    }

    &-link:hover {
      text-decoration: underline;
    }
  }
}
