@import "../../../globals.scss";

.footer {
	box-sizing: border-box;
	min-height: 50px;
	width: 100%;
	margin-top: 15px;
	padding: 15px 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: $color-primary-light;
	font-size: $font-size-primary;
	border-radius: 5px;

	& .author {
		display: flex;
		align-items: center;
		gap: 5px;

		&-link:hover {
			text-decoration: underline;
		}
	}
}
